/*********RESETS*********/
*,*:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

main, section, aside, footer {
    display: block;
}


/**********Main Styles *********/

main {
    width: 970px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid #000;
}